body, h2, h3, p, ul, a {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    color: #e5e5e5e7;
}

body {
    background-color: #1A062D;
}

p, li {
    font-weight: 100;
}

ul {
    list-style-type: none;
}

i {
    width: 16px;
    margin-right: 16px;
}

/* //CONTAINER//  */

.container {
    height: 100vh;
}

/* //LEFT-BAR// */

.left-bar {
    position: fixed;
    width: 220px;
    height: 100vh;
    background-color: #070018;
}

.left-bar-content {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    height: min-content;
}

.profile {
    display: flex;
    align-items: center;
    margin-bottom: 20vh;
}

.left-bar h3 {
    width: min-content;
    font-size: 1rem;
}

.left-bar p {
    font-size: 1rem;
}

.left-bar p:hover {
    color: #e5e5e59f;
    cursor: pointer;
}

#edit {
    font-size: .8rem;
}

.left-bar img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-left: 25px;
    margin-right: 10px;
    border-radius: 5px;
}

.link {
    width: 150px;
    padding-top: 25px;
    margin-top: 25px;
    margin-left: 35px;
    border-top: 1px solid #1f1633;
}

.link li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
}

.left-bar a:hover {
    color: #e5e5e59f;
    cursor: pointer;
}

/* //MAIN-CONTAINER// */

.main-content {
    width: auto;
    /* height: 100vh; */
    /* margin-top: 30px; */ /* It don't work*/
    margin-left: 220px;
    padding-top: 50px; /* "center" */
    padding-left: 30px;
    padding-right: 25px;
}

/* FEATURED PLAYLISTS */

.playlists {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    column-gap: 15px;
    overflow-x: scroll;
}

.playlist img {
    height: 180px;
    border-radius: 15px;
    object-fit: cover;
}

/* width */
.scrolls::-webkit-scrollbar {
    height: 8px;
}
  
/* Track */
.scrolls::-webkit-scrollbar-track {
    background: #f1f1f128;
    border-radius: 8px;
}

/* Handle */
.scrolls::-webkit-scrollbar-thumb {
    background: #2E0058;
    border-radius: 8px;
}
  
/* Handle on hover */
.scrolls::-webkit-scrollbar-thumb:hover {
    background: #230044;
}

/* //PART-02// */

/* "blue" */
.part-02-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
}

/* MAIN-GROUP-01 - "green" */
#main-group-01 {
    max-width: 400px;
    min-width: 300px;
}

/* VIEW-ITEMS - "pink" */
.views-items {
    display: flex;
    margin-bottom: 15px;
}

/* images */
.views-items img {
    width: 60px;
    height: 60px;
    border-radius: 6%;
    margin-right: 10px;
}

/* VIEW-TEXTS - "aqua" */
.views-texts {
    margin-right: auto;
}

/* ---------------------------- */

/* TRACK-CONTENT - "white" */

#track-content {
    display: flex;
    max-width: 400px;
    overflow-x: scroll;
}

/* TRACK-ITEMS - "pink" */

.track-items {
    width: 90px;
    height: 180px;
    margin-right: 10px;
}

.track-items img {
    width: 80px;
    height: 80px;
    border-radius: 8%;
    margin-right: 20px;
}

@media (max-width: 990px) {
    #main-group-01 {
        max-width: 500px;
    }

    #track-content {
        max-width: 500px;
    }

    .part-02-container {
        display: block;
    }
}